__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.idea/
.vscode/
.pytest_cache/
.DS_Store
Thumbs.db
raw_images/
data/
data_v2/
data_v41/
data_active_learning/
test_images/
test_images_unseen/
CropGuard_Final_Backup_V4/
backend/model_compression/temp_models/
*.log
